.qg-header {
    display: flex;
}

.qg-controls {
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 4px;
    margin-left: auto;
    margin-bottom: 30px;
}

.qg-controls__control {
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: 3px 9px;
    font-weight: 600;
}

.qg-controls__control.active {
    background-color: #fff;
    border-radius: 10px;
}

.qg-controls__dropdown {
    border-left: 1px solid #c5c5c5;
    padding: 0 0 0 9px;
}

#qg-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#qg-chart.inactive {
    opacity: 0;
}

#qg-error {
    text-align: center;
}

.qg-chart-wrapper {
    width: 100%;
    height: 28vh;
    position: relative;
}

.qg-chart-wrapper.hidden {
    display: block !important;
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .qg-controls {
        padding: 2px;
    }

    .qg-controls__control {
        font-size: 10px;
        padding: 1px 9px;
    }

    .qg-chart-wrapper {
        height: 25vh;
    }
}